<div class="program list">
<h2>Programs Found</h2>


<table summary="Account" class=listing">
	<tr>
		<th>Program</th>
		<th>Days of Week</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Available</th>

	</tr>
	<% @programs.each do |prog| %>
		<% days_of_week = get_days_of_week(prog.id) %>
		<% bookings = prog.number_of_bookings == nil ? 0:prog.number_of_bookings %>
		<% available = prog.program.default_maximum_registrants - bookings %>
		<% available = available < 0 ? 0:available %>
			<tr class="staff_users">
				<td><%= link_to("#{prog.program.name} - #{prog.session_display_order}", {:action => 'registration', :id => prog.id, :previous_event => 'program_selected'}, :class => 'action_select') %></td>
				<td><%= days_of_week %>
				<td><%= prog.start_date %></td>
				<td><%= prog.end_date %></td>
				<td><%= available %></td>
				<td class="actions">
				
			</tr>
	<% end %>
</table>
</div>