<%= link_to("<<Back to Program List", {:action => 'list'}, :class => 'back-link') %>

<div class="program new">
	<h2>Create New Program</h2>
	<%= form_for @program, url: {action: "create"}, html: {class: "input_form"} do |f| %>
		<%= f.hidden_field(:agency_id, :value => session[:agency_id]) %>
		<%= f.hidden_field(:user_stamp, :value => session[:staff_user_id]) %>
		<table summary="Program fields">
			<tr>
				<th><%= f.label :name %></th>
				<td><%= f.text_field(:name) %></td>
			</tr>
			<tr>
				<th><%= f.label :code %></th>
				<td><%= f.text_field(:code, size: "8") %></td>
			</tr>
			<tr>
				<th><%= f.label :brochure_section_id %></th>
				<td><%= f.select(:brochure_section_id, BrochureSection.all.collect {|s| [s.name, s.id]},{:include_blank => true}) %></td>
			</tr>
			<tr>
				<th><%= f.label :brochure_subsection_id %></th>
				<td><%= f.select(:brochure_subsection_id, BrochureSubsection.all.collect {|s| [s.name, s.id]},{:include_blank => true}, {:prompt => "Select Brochure Subsection"}) %></td>
			</tr>
			<tr>
				<th><%= f.label :min_age %></th>
				<td><%= f.text_field(:min_age, size: "3") %> <%= select_tag "program[min_age_type]", options_for_select([["Years", "Y"], ["Months", "M"]], "Years") %></td>
			</tr>
			<tr>
				<th><%= f.label :max_age %></th>
				<td><%= f.text_field(:max_age, size: "3") %> <%= select_tag "program[max_age_type]", options_for_select([["Years", "Y"], ["Months", "M"]], "Years") %></td>
			</tr>	
			<tr>
				<th><%= f.label :default_minimum_registrants %></th>
				<td><%= f.text_field(:default_minimum_registrants, size: "3") %></td>
			</tr>	
			<tr>
				<th><%= f.label :default_maximum_registrants %></th>
				<td><%= f.text_field(:default_maximum_registrants, size: "3") %></td>
			</tr>		
			<tr>
				<th><%= f.label :deferred_gl_account_id %></th>
				<td><%= f.select(:deferred_gl_account_id, GlAccount.all.collect {|s| [s.number_name, s.id]},{:include_blank => true}) %></td>
			</tr>
			<tr>
				<th><%= f.label :photo %></th>
				<td><%= f.file_field(:photo) %></td>
			</tr>
			<tr>
				<th><%= f.label :scheduled_payments_allowed_flag %></th>
				<td><%= f.check_box(:scheduled_payments_allowed_flag) %></td>
			</tr>			
			<tr>
				<th><%= f.label :internet_query_flag %></th>
				<td><%= f.check_box(:internet_query_flag) %></td>
			</tr>	
	
			<tr>
				<th><%= f.label :daycare_flag %></th>
				<td><%= f.check_box(:daycare_flag) %></td>
			</tr>	
			<tr>
				<th><%= f.label :internet_registration_flag %></th>
				<td><%= f.check_box(:internet_registration_flag) %></td>
			</tr>	
			<tr>
			<tr>
				<th><%= f.label :include_in_tax_receipt_flag %></th>
				<td><%= f.check_box(:include_in_tax_receipt_flag) %></td>
			</tr>
			<tr>
				<th><%= f.label :active %></th>
				<td><%= f.check_box(:active) %></td>
			</tr>
			<tr>
				<th><%= f.label :alert_text %></th>
				<td><%= f.text_area(:alert_text, size: "40x2") %></td>
			</tr>
			<tr>
				<th><%= f.label :confirmation_text %></th>
				<td><%= f.text_area(:confirmation_text, size: "40x2") %></td>
			</tr>
			<tr>
				<th><%= f.label :description %></th>
				<td><%= f.text_area(:description, size: "40x6") %></td>
			</tr>
			<tr>
				<td colspan="2"><%= f.submit "Create New Program" %>
				</td>
			</tr>
		</ table>

	<% end %>
</ div>		