      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"></a>
          <div class="dropdown">
<!-- Link or button to toggle dropdown -->
<a href="#">Drop me!</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
<li><a tabindex="-1" href="#">Action</a></li>
<li><a tabindex="-1" href="#">Another action</a></li>
<li><a tabindex="-1" href="#">Something else here</a></li>
<li class="divider"></li>
<li><a tabindex="-1" href="#">Separated link</a></li>
</ul>
</div>
            <form class="navbar-form pull-right">
              <input class="span8" type="text" placeholder="Type Search terms">
              <button type="submit" class="btn">Search</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<!--	
<%= link_to("Maintain Facilities", {:controller => 'facilities', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain Programs", {:controller => 'programs', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain Staff/Users", {:controller => 'staff_users', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain Funds", {:controller => 'funds', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain GL Accounts", {:controller => 'gl_accounts', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain Brochure Sections", {:controller => 'brochure_sections', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain Brochure Subsections", {:controller => 'brochure_subsections', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain Season Titles", {:controller => 'season_titles', :action => 'list'}, :class => 'staff_menu_item') %>
 | 
<%= link_to("Maintain Seasons", {:controller => 'seasons', :action => 'list'}, :class => 'staff_menu_item') %>
 | 	
-->