<%= link_to("<<Back to Edit Class Session", {:action => 'edit', :controller => 'class_sessions', :id => @class_session.id}, :class => 'back-link') %>

<div class="fee new">
	<h3>Create New Fee for <%= @class_session.program.name %>, <%= @class_session.season.season_title.title %> - <%= @class_session.season.season_year %></h3>
<%= render 'form' %>
</ div>		