<%= link_to("<<Back to User List", {:action => 'list'}, :class => 'back-link') %>
<%= render(:partial => 'shared/error_messages', :locals => {:object => @staff_user}) %>
<div class="user new">
	<h2>Create New Staff User</h2>
	<%= form_for @staff_user, url: {action: "create"}, html: {class: "input_form"} do |f| %>
	<%= f.hidden_field(:agency_id, :value => session[:agency_id]) %>
	<%= f.hidden_field(:user_stamp, :value => session[:staff_user_id]) %>

		<table summary="Staff User fields">
			<tr>
				<th>First Name</th>
				<td><%= f.text_field(:first_name) %></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><%= f.text_field(:last_name) %></td>
			</tr>			
			<tr>
				<th>Email</th>
				<td><%= f.text_field(:email) %></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><%= f.password_field(:password) %></td>
			</tr>
			<tr>
				<th>Password Confirmation</th>
				<td><%= f.password_field(:password_confirmation) %></td>
			</tr>
			<tr>
				<th>Security Group</th>
				<td><%= f.text_field(:security_group) %></td>
			</tr>
			<tr>
				<th>User Stamp Id</th>
				<td><%= f.text_field(:user_stamp) %></td>
			</tr>
			<tr>
				<td colspan="2"><%= f.submit "Create New Staff User" %>
				</td>
			</tr>
		</ table>

	<% end %>
</ div>		