<%= render(:partial => 'shared/error_messages', :locals => {:object => @class_session}) %>
<%= link_to("<<Back to Edit Program ", {:action => 'edit', :controller => 'programs', :id => @class_session.program_id}, :class => 'back-link') %>

<div class="class session edit">
	<h3>Edit Class Session for <%= @class_session.program.name %> <%= @class_session.season.season_title.title %> <%= @class_session.season.season_year %></h3>
<%= render 'form' %>
</ div>		