<%= render(:partial => 'shared/error_messages', :locals => {:object => @class_session}) %>
<%= link_to("<<Back to Edit Program ", {:action => 'edit', :controller => 'programs', :id => @class_session.program_id}, :class => 'back-link') %>

<div class="class session edit">
	<h3>Edit Class Session for <%= @class_session.program.name %> <%= @class_session.season.season_title.title %> <%= @class_session.season.season_year %></h3>
	<%= form_for @class_session, url: {action: "update"}, html: {class: "input_form"} do |f| %>
	<%= f.hidden_field(:program_id) %>
	<%= f.hidden_field(:season_id) %>
		
		<table summary="Class Session fields">
			<tr>
				<th>Name</th>
				<td><%= f.text_field(:name) %></td>
			</tr>
			<tr>
				<th>Class Num.</th>
				<td><%= f.text_field(:session_display_order) %></td>
			</tr>
			<tr>
				<th>Status</th>
				<td><%= f.select(:session_status_id, [["Active", "a"], ["Canceled", "c"]]) %></td>
			</tr>
			<tr>
				<th>Facility</th>
				<td><%= f.select(:facility_id, Facility.all.collect {|s| [s.name, s.id]}) %></td>
			</tr>
			<tr>
				<th>Start Date</th>
				<td><%= f.date_select(:start_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>End Date</th>
				<td><%= f.date_select(:end_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Start Time</th>
				<td><%= f.time_select(:start_time, :minute_step => 15, :ampm => true) %></td>
			</tr>
			<tr>
				<th>End Time</th>
				<td><%= f.time_select(:end_time, :minute_step => 15, :ampm => true) %></td>
			</tr>
			<tr>
				<th>Days of Week</th>
				<td><%= f.check_box(:sunday, :checked_value => "1") %> Sunday
					<%= f.check_box(:monday, :checked_value => "1") %> Monday
					<%= f.check_box(:tuesday, :checked_value => "1") %> Tuesday
					<%= f.check_box(:wednesday, :checked_value => "1") %> Wednesday
					<%= f.check_box(:thursday, :checked_value => "1") %> Thursday
					<%= f.check_box(:friday, :checked_value => "1") %> Friday
					<%= f.check_box(:saturday, :checked_value => "1") %> Saturday				
				</td>
			</tr>
			<tr>
				<th>Number of Bookings</th>
				<td><%= f.text_field(:number_of_bookings) %></td>
			</tr>
			<tr>
				<th>Supervisor</th>
				<td><%= f.select(:supervisor_id, StaffUser.all.collect {|s| [s.full_name_last_first, s.id]}) %></td>
			</tr>
			<tr>
				<th>Registration Start Date</th>
				<td><%= f.date_select(:registration_start_datetime, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Minimum Registrants</th>
				<td><%= f.text_field(:minimum_registrants) %></td>
			</tr>
			<tr>
				<th>Maximum Registrants</th>
				<td><%= f.text_field(:maximum_registrants) %></td>
			</tr>
			<tr>
				<th>Number Registered</th>
				<td><%= f.text_field(:number_registered) %></td>
			</tr>
			<tr>
				<th>Number Waitlisted</th>
				<td><%= f.text_field(:number_waitlisted) %></td>
			</tr>
			<tr>
				<th>Cancel Datetime</th>
				<td><%= f.date_select(:cancel_datetime, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Cancel Reason</th>
				<td><%= f.text_field(:cancel_reason) %></td>
			</tr>
			<tr>
				<th>GL Account</th>
				<td><%= f.select(:gl_account_id, GlAccount.all.collect {|s| [s.number_name, s.id]}) %></td>
			</tr>
			<tr>
				<th>Deferred GL Account</th>
				<td><%= f.select(:deferred_gl_account_id, GlAccount.all.collect {|s| [s.number_name, s.id]}) %></td>
			</tr>
			<tr>
				<th>Internet Display Date</th>
				<td><%= f.date_select(:internet_display_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Internet Display Until Date</th>
				<td><%= f.date_select(:internet_display_until_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Member Registration Date</th>
				<td><%= f.date_select(:member_registration_start_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Non-Resident Registration Date</th>
				<td><%= f.date_select(:non_resident_registration_start_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Alert text</th>
				<td><%= f.text_area(:alert_text, size: "40x2") %></td>
			</tr>
			<tr>
				<th>Confirmation_text</th>
				<td><%= f.text_area(:confirmation_text, size: "40x2") %></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><%= f.text_area(:description, size: "40x4") %></td>
			</tr>
			<tr>
			<td>
			<h4>Class Session Fees</h4>
			</td>
			<td><%= link_to("Add New Fee", {:action => 'new', :controller => 'class_session_fees', :account_id => session[:account_id], :agency_id => session[:agency_id], :class_session_id => @class_session.id}, 
		:class => 'add-fee-link') %>
			</td>
			</tr>
			<tr>
			<td>
			<% @fees.each do |f| %>
				<%= link_to("#{f.name} - #{number_to_currency(f.amount)}", {:action => 'edit', :controller => 'class_session_fees', :id => f.id}, :class => 'edit-fee-link') %><br>
			<% end %>
			</td>
			</tr>
			<tr>
				<td colspan="2"><%= f.submit "Post Class Session Edits" %>
				</td>
			</tr>
		</ table>

	<% end %>
</ div>		