<%= link_to("<<Back to Maintain Programs", {:action => 'edit', :controller => 'programs', :id => params[:program_id], :season_id => params[:season_id]}, :class => 'back-link') %>

<div class="class session new">
	<h4>Create New Class Session for <%= params[:program_name] %> - <%= params[:season_title] %></h4>
	<%= form_for @class_session, url: {action: "create"}, html: {class: "input_form"} do |f| %>
		<table summary="Class Session fields" cellpadding="5">
		<%= f.hidden_field(:agency_id) %>
		<%= f.hidden_field(:program_id) %>
		<%= f.hidden_field(:season_id, :value => params[:season_id]) %>
		<%= f.hidden_field(:user_stamp, :value => session[:staff_user_id]) %>
			<tr>
				<th>Name</th>
				<td><%= f.text_field(:name) %></td>
			</tr>
			<tr>
				<th>Session Display Order</th>
				<td><%= f.text_field(:session_display_order) %></td>
			</tr>
			<tr>
				<th>Session Status Id</th>
				<td><%= f.select(:session_status_id, [["Active", "a"], ["Inactive", "i"], ["Canceled", "c"]]) %></td>
			</tr>
			<tr>
				<th>Facility Id</th>
				<td><%= f.select(:facility_id, Facility.all.collect {|s| [s.name, s.id]}) %></td>
			</tr>
			<tr>
				<th>Start Date</th>
				<td><%= f.date_select(:start_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>End Date</th>
				<td><%= f.date_select(:end_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Start Time</th>
				<td><%= f.time_select(:start_time, :minute_step => 15, :ampm => true) %></td>
			</tr>
			<tr>
				<th>End Time</th>
				<td><%= f.time_select(:end_time, :minute_step => 15, :ampm => true) %></td>
			</tr>
			<tr>
				<th>Days of Week</th>
				<td><%= f.check_box(:sunday, :checked_value => "1") %> Sunday
					<%= f.check_box(:monday, :checked_value => "1") %> Monday
					<%= f.check_box(:tuesday, :checked_value => "1") %> Tuesday
					<%= f.check_box(:wednesday, :checked_value => "1") %> Wednesday
					<%= f.check_box(:thursday, :checked_value => "1") %> Thursday
					<%= f.check_box(:friday, :checked_value => "1") %> Friday
					<%= f.check_box(:saturday, :checked_value => "1") %> Saturday				
				</td>
			</tr>
			<tr>
			<tr>
				<th>Supervisor</th>
				<td><%= f.select(:supervisor_id, StaffUser.all.collect {|s| [s.full_name_last_first, s.id]}) %></td>
			</tr>
			<tr>
				<th>Minimum Registrants</th>
				<td><%= f.text_field(:minimum_registrants) %></td>
			</tr>
			<tr>
				<th>Maximum Registrants</th>
				<td><%= f.text_field(:maximum_registrants) %></td>
			</tr>
			<tr>
				<th>GL Account</th>
				<td><%= f.select(:gl_account_id, GlAccount.order("gl_account_number ASC").collect {|s| [s.number_name, s.id]}) %></td>
			</tr>
			<tr>
				<th>Deferred GL Account</th>
				<td><%= f.select(:deferred_gl_account_id, GlAccount.order("gl_account_number ASC").collect {|s| [s.number_name, s.id]}) %></td>
			</tr>
			<tr>
				<th>Registration Start Date</th>
				<td><%= f.date_select(:registration_start_datetime, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Non-Resident Registration Start Date</th>
				<td><%= f.date_select(:non_resident_registration_start_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Member Registration Date</th>
				<td><%= f.date_select(:member_registration_start_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Internet Display Date</th>
				<td><%= f.date_select(:internet_display_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Internet Display Until Date</th>
				<td><%= f.date_select(:internet_display_until_date, :order => [:month, :day, :year]) %></td>
			</tr>
			<tr>
				<th>Alert Text</th>
				<td><%= f.text_area(:alert_text, size: "60x4") %></td>
			</tr>
			<tr>
				<th>Confirmation Text</th>
				<td><%= f.text_area(:confirmation_text, size: "60x4") %></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><%= f.text_area(:description, size: "60x8") %></td>
			</tr>
			<tr>
				<td colspan="2"><%= f.submit "Create New Class Session" %>
				</td>
			</tr>
		</ table>

	<% end %>
</ div>		