<%= render(:partial => 'shared/error_messages', :locals => {:object => @payment}) %>
<%= link_to("<<Cancel payment and go back to Registration", {:action => 'registration', :controller => 'staff_registration'}, :class => 'back-link') %>

<h4>Take Payment for Account (<%= @account.home_area %>)<%= @account.home_phone[0..2] %>-<%= @account.home_phone[3..6] %> || <%= @account.email %></h4>
<strong>Current Account Balance: <%= number_to_currency(@balance) %></strong><p>

<% if [1,2].include?(session[:payment_type_id].to_i) %>
	<%= form_for @payment, url: {action: "create"} do |f| %>
		<%= f.hidden_field(:agency_id, :value => session[:agency_id]) %>
		<%= f.hidden_field(:user_stamp, :value => session[:staff_user_id]) %>
		<%= f.hidden_field(:creation_user_stamp, :value => session[:staff_user_id]) %>
		<%= f.hidden_field(:location_id, :value => 2) %>
		<%= f.hidden_field(:account_id, :value => @account.id) %>
		
		<ul>
			<li class="field">
				<%= f.label :payment_type_id, 'Payment_type' %> 
				<%= f.select(:payment_type_id, ([["Cash", "1"], ["Check", "2"]]), prompt: "--Select Payment Type--") %>
			</li>
			<li class="field">
				<%= f.label :amount, 'Payment Amount' %>
				<%= f.text_field(:amount, :value => @balance) %>
			</li>
			<li class="field">
				<%= f.label :check_number, 'Check Number' %>
				<%= f.text_field(:check_number) %>
			</li>

		<%= render partial: 'builder', locals: { f: f } %>

				<li class="field">
				<%= f.submit "Submit Payment" %>
			</li>
		</ul>
	<% end %>
	
<% else %>

	<%= form_for @payment, url: {action: "create"} do |f| %>

		
			<%= f.hidden_field(:agency_id, :value => session[:agency_id]) %>
			<%= f.hidden_field(:user_stamp, :value => session[:staff_user_id]) %>
			<%= f.hidden_field(:creation_user_stamp, :value => session[:staff_user_id]) %>
			<%= f.hidden_field(:location_id, :value => "1") %>
			<%= f.hidden_field(:account_id, :value => session[:account_id]) %>
			<%= f.hidden_field(:payment_type_id, :value => "3") %>
		
		<div class="field">
		<%= f.label :amount %>
		<%= f.text_field :amount, :value => @balance %>
		</div>
		<div class="field">
		<%= label_tag :card_number, "Credit Card Number" %>
		<%= text_field_tag :card_number, nil, name: nil %>
		</div>
		<div class="field">
		<%= label_tag :card_cvc, "Security Code on Card (CVC)" %>
		<%= text_field_tag :card_cvc, nil, name: nil %>
		</div>
		<div class="field">
		<%= label_tag :card_month, "Card Expiration" %>
		<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_expiry_month"} %>
		<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_expiry_year"} %>
		</div>

		<%= render partial: 'builder', locals: { f: f } %>
		
		<div class="actions">
		<%= f.submit "Charge Card" %>
		</div>
		
	<% end %>
		<script type="text/javascript">
		Stripe.setPublishableKey('pk_test_ldAbOSYOYB7gnfM5iH3jsco4');
 
		var stripeResponseHandler = function(status, response) {
		var $form = $('#new_payment');
		 
		if (response.error) {
		// Show the errors on the form
		alert(response.error.message);
		$form.find('.payment-errors').text(response.error.message);
		$form.find('submit').prop('disabled', false);
		} else {
		// token contains id, last4, and card type
		var token = response.id;
		alert(token);
		// Insert the token into the form so it gets submitted to the server
		$form.append($('<input type="hidden" name="stripe_token" />').val(token));
		$form.append($('<input type="hidden" name="last_4" />').val(response.card.last4));
		// and re-submit
		$form.get(0).submit();
		}
		};
		 
		jQuery(function($) {
		$('#new_payment').submit(function(e) {
		var $form = $(this);
		//alert('gotcha');
		 
		// Disable the submit button to prevent repeated clicks
		$form.find('submit').prop('disabled', true);

		Stripe.card.createToken({
			number: $('#card_number').val(),
			cvc: $('#card_cvc').val(),
			exp_month: $('#card_expiry_month').val(),
			exp_year: $('#card_expiry_year').val()
		}, stripeResponseHandler);
		 
		// Prevent the form from submitting with the default action
		return false;
		});
		});

	</script>
<% end %>


<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey(STRIPE_PUBLIC_KEY);
  // ...
</script>