<div class="program display">
<h2><%= @program.first.program.name %></h2>

<%= @program.first.program.code %><br>
Ages: <%= @program.first.program.min_age %> <%= @program.first.program.min_age_type %> - <%= @program.first.program.max_age %> <%= @program.first.program.max_age_type %><br>
Minimum Registrants: <%= @program.first.program.default_minimum_registrants %>, Maximum Registrants: <%= @program.first.program.default_maximum_registrants %><br>
<%= @program.first.program.photo %></br>
<%= simple_format(@program.first.program.description, {}, sanitize: false) %><p>

</div>
<h4>Class Sessions</h4>
<table summary="Class Sesssions" class=listing" cellpadding="4">
	<tr>
		<th>Class Num.</th>
		<th>Available</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Days of Week</th>
		<th>Fees</th>
	</tr>
		<% @program.each do |session| %>
			<% days_of_week = get_days_of_week(session.id) %>
			<% available = session.maximum_registrants - session.number_registered %>
			<tr class="class sessions">
				<td valign="top"><%= session.session_display_order %></td>
				<td valign="top"><%= available %></td>
				<td valign="top"><%= session.start_date.strftime("%b. %d %Y") %></td>
				<td valign="top"><%= session.end_date.strftime("%b. %d %Y") %></td>
				<td valign="top"><%= session.start_time.strftime("%I:%M %p") %></td>
				<td valign="top"><%= session.end_time.strftime("%I:%M %p") %></td>
				<td valign="top"><%= days_of_week %></td>
				<td valign="top"><% session.class_session_fees.each do |fee| %>
						<%= fee.name %> - <%= number_to_currency(fee.amount) %><br>
					<% end %>
				</td>
			</tr>
		<% end %>

</table>

</div>
