<%= render(:partial => 'shared/error_messages', :locals => {:object => @registration_basket_line_item}) %>
<div class="program display">
<h2><%= @program.first.program.name %></h2>

<%= @program.first.program.code %><br>
Ages: <%= @program.first.program.min_age %> <%= @program.first.program.min_age_type %> - <%= @program.first.program.max_age %> <%= @program.first.program.max_age_type %><br>
Minimum Registrants: <%= @program.first.program.default_minimum_registrants %>, Maximum Registrants: <%= @program.first.program.default_maximum_registrants %><br>
<%= @program.first.program.photo %></br>
<%= @program.first.program.description %><p>

</div>
<h4>Class Sessions</h4>
<table summary="Class Sesssions" class=listing" cellpadding="4">
	<tr>
		<th>Num.</th>
		<th>Available</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Days of Week</th>
		<th>Fees</th>
		<th>People</th>
		<th>Action</th>
	</tr>
		<% @program.each do |session| %>
			<% days_of_week = get_days_of_week(session.id) %>
			<% available = session.maximum_registrants - session.number_registered %>
			<% available = available < 0 ? 0:available %>
			<% waitlist_verbage = available <= 0 ? "Course is full. If you register, you will be put on a waitlist and will not be charged until given a spot in the class.":"" %>
			<% waitlist_flag = available <= 0 ? 1:0 %>
			<% current_date = Date.today %>
			<% date_verbage = current_date >= session.start_date ? "Class has already started":"" %>
			<% date_verbage = current_date >= session.end_date ? "Class is completed":"" %>
			<%= form_for @registration_basket_line_item, :url => {:action => 'create_item_in_basket'}, html: {class: "reg_form"} do |f| %>
				<tr class="class sessions">
					<td><%= session.session_display_order %></td>
					<td><%= available %></td>
					<td><%= session.start_date.strftime("%b. %d %Y") %></td>
					<td><%= session.end_date.strftime("%b. %d %Y") %></td>
					<td><%= session.start_time.strftime("%I:%M %p") %></td>
					<td><%= session.end_time.strftime("%I:%M %p") %></td>
					<td><%= days_of_week %></td>
					<td><%= select_tag "fee_amount", options_from_collection_for_select(session.class_session_fees.collect, :amount, :name_amount), prompt: "--Select Fee--" %></td>
					<td><%= select_tag "customer_id", options_from_collection_for_select(Customer.where(:account_id => @account.id).collect, :id, :full_name), prompt: "--Select Person--" %></td>
					<td><%= submit_tag "Register" %>
							<%= waitlist_verbage %> <%= date_verbage %><td>
				</tr>
					<%= hidden_field_tag 'agency_id', session[:agency_id] %>
					<%= hidden_field_tag 'account_id', @account.id %>
					<%= hidden_field_tag 'class_session_id', session.id %>
					<%= hidden_field_tag 'waitlist_flag', waitlist_flag %>
			<% end %>
		<% end %>

</table>

</div>
