<%= render(:partial => 'shared/error_messages', :locals => {:object => @payment}) %>
<%= link_to("<<Cancel payment and go back to Registration", {:action => 'registration', :controller => 'staff_registration'}, :class => 'back-link') %>

<h4>Take Payment for Account <%= @account.email %></h4>
<strong>Account Balance: <%= number_to_currency(@balance) %></strong><p>


		<% if @payment.errors.any? %>
			<div class="error_messages">
			<h4><%= pluralize(@payment.errors.count, "error") %>prohibited this payment from being taken:</h4>
			<ul>
			<% @payment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</div>
		<% end %>