<!DOCTYPE html>
<html lang="en">
  <head>

	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ParkNet" %></title>
    <%= csrf_meta_tags %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
	

  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <span class="brand">ParkNet Maintenance Portal - <%= session[:agency_name] %></span>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to("Maintain Facilities", {:controller => 'facilities', :action => 'list'}, :class => 'staff_menu_item') %></li>
              <li><%= link_to("Maintain Programs", {:controller => 'programs', :action => 'list'}, :class => 'staff_menu_item') %></li>
              <li><%= link_to("Maintain Staff/Users", {:controller => 'staff_users', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain Funds", {:controller => 'funds', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain GL Accounts", {:controller => 'gl_accounts', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li> <%= link_to("Logout", :controller => 'staff_access', :action => 'logout') %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><%= link_to("Maintain Facilities", {:controller => 'facilities', :action => 'list'}, :class => 'staff_menu_item') %></li>
              <li><%= link_to("Maintain Programs", {:controller => 'programs', :action => 'list'}, :class => 'staff_menu_item') %></li>
              <li><%= link_to("Maintain Staff/Users", {:controller => 'staff_users', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain Funds", {:controller => 'funds', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain GL Accounts", {:controller => 'gl_accounts', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain Brochure Sections", {:controller => 'brochure_sections', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain Brochure Subsections", {:controller => 'brochure_subsections', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain Season Titles", {:controller => 'season_titles', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain Seasons", {:controller => 'seasons', :action => 'list'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Maintain Customer Accounts", {:controller => 'accounts', :action => 'search'}, :class => 'staff_menu_item') %></li>
			  <li><%= link_to("Registration", {:controller => 'staff_registration', :action => 'registration'}, :class => 'staff_menu_item') %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Productive Parks 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>



