<%= render(:partial => 'shared/error_messages', :locals => {:object => @account}) %>
<% if params[:from] == 'registration' %>
	<%= link_to("<<Back to Registration", {:action => 'registration', :controller => 'staff_registration'}, :class => 'back-link') %>
<% else %>
	<%= link_to("<<Back to Account Search Results", {:action => 'search', :search_text => @search_text}, :class => 'back-link') %>
<% end %>

<div class="account update">
	<h2>Update Account</h2>

<%= render 'form' %>	

Current Account balance: <%= number_to_currency(@balance) %> -- <%= link_to("View Accounting History", {:action => 'show_account_history', :controller => 'accounting_transactions', :account_id => @account.id}, 
		:class => 'add-customer-link') %>
	<table>
		<tr>
		<td colspan="4"><h2>Account Members</h2> 
		<%= link_to("Add New Account Member", {:action => 'add_member', :controller => 'customers', :account_id => @account.id, :agency_id => @account.agency_id}, 
		:class => 'add-customer-link') %></td>
		<td colspan="5">&nbsp;
		</td>
	</tr>
		<tr>

	</tr>
	<tr>
		<th>Head Of Household</th>
		<th>Name</th>
		<th>Age</th>
		<th>Birthday</th>
		<th>Actions</th>
	</tr>
		
		<% @account.customers.each do |customer| %>
			
			<tr>
				<td><%= customer.head_of_household_flag == 1 ? " ✓ ":"" %></td>
				<td><%= link_to("#{customer.first_name} #{customer.last_name}", {:action => 'edit', :controller => 'customers', :id => customer.id}, :class => 'action_edit') %></td>
				<td><%= distance_of_time_in_words(Time.now, customer.birthdate) %></td>
				<td><%= customer.birthdate.strftime("%b. %d, %Y") %></td>
				<td class="actions">
				
				<%= link_to("View Registrations", {:action => 'show', :controller => 'registrations', :id => customer.id}, :class => 'action_edit') %>
				</td>
			</tr>
		<% end %>
</table>		
</ div>		